<div>
  <ul>
    <li>
      <p><%= @comment.body %></p>
    </li>
  </ul>
  <div>
    <%= link_to "Update post", edit_admin_post_comment_path(@post, @comment) %>
    <%= button_to "Delete post", admin_post_comment_path(@post, @comment), method: :delete, confirm: "Are you shure?" %>
  </div>