<div>
  <ul>
      <li>
        <h2><%= @post.title %></h2>
      </li>
      <li>
        <p><%= @post.body %></p>
      </li>
  </ul>
</div>
<div>
  <%= render 'shared/formComments' %>
<div>
  <ul>
    <% @post.comments.each do |c| %>
      <li>
        <p><%= c.body %></p>
      </li>
    <% end %>
  </ul>
</div>