<h2> <%= flash[:success] %> </h2>
<h1> Welcome to Admin panel for PostsV2 </h1>
<div>
  
  <ul>
    <% @posts.each do |p| %>
      <li>
        <h2> <%= p.title %></h2>
        <p> <%= p.body %> </p> 
      </li>
      <div>
      <%= link_to "Show comments", admin_post_path(p) %>
      </div>
    <% end %>
  </ul>
</div>
